@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;

}

.header {
    margin-top: 10px;
    padding-top: 10px;
    padding: 20px;
    padding-left: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #4183d7;
    padding-bottom: 50px;
}

.title {
    font-size: 56px;
    
}
.subtitle {
    font-size: 24px;

}

.stats {
    display: flex;
    padding-left: 50px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 80px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}
.stat-item-title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.stat-item-value {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
#cases {
    background: #21caf2;
    background: -webkit-linear-gradient(90deg, #21caf2, #4efac0);  
    background: linear-gradient(90deg, #21caf2, #4efac0); 
}
#vaccines-initiated {
    background: #41dbb5;  
    background: -webkit-linear-gradient(to right, #41dbb5, #a3ecbd);  
    background: linear-gradient(to right, #41dbb5, #a3ecbd);
}
#vaccines-completed {
    background: #4692ff; 
    background: -webkit-linear-gradient(to right, #4692ff, #a7b7fe); 
    background: linear-gradient(to right, #4692ff, #a7b7fe); 
}
#deaths {
    background: #bb61ff; 
    background: -webkit-linear-gradient(to right, #bb61ff, #e1a3fc); 
    background: linear-gradient(to right,#bb61ff, #e1a3fc); 
}


#bar-title-line {
    display: flex;
}
#bar-chart-icon {
    width: 50px;
    height: 50px;
    margin-right: 6px;
    font-size: 30px;
}
#bar-wrapper {
    padding: 60px 60px 0px 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 27px;
}
#barchart-container {
    width: 1000px;
    height: 400px;
    /* background: #36D1DC;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  
    background: linear-gradient(to right, #5B86E5, #36D1DC);*/
    background: #159957; 
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to right, #155799, #159957);
    
    padding: 28px;
}
#barchart {

}

#piechart {

}

#pie-title-line {
    display: flex;
}
#pie-chart-icon {
    width: 50px;
    height: 50px;
    margin-right: 6px;
    font-size: 30px;
}
#piechart-container {
    padding: 28px;
    width: 1000px;
    height: 400px;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#pie-wrapper {

    padding: 60px 60px 0px 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 27px;   
}

#input-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 27px;
}
#input-wrapper input {
    border-style: none; background: transparent; outline: none; 
}
#input-wrapper button {
    padding: 0; background: none; border: none; outline: none; cursor: pointer;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 200px;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    background:transparent;
}

.webflow-style-input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 8px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

.webflow-style-input input {
    flex-grow: 1;
    width: 100px;
    color: #BFD2FF;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
}

.webflow-style-input input::-webkit-input-placeholder {
    color: #7881A1;
}

.webflow-style-input button {
    color: #a1a8c0;
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color .25s;
    cursor: pointer;
}

.webflow-style-input button:hover {
    color: #BFD2FF;
}

#linechart-wrapper {
    padding: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 27px;   
}
#linechart-container {
    padding: 28px;
    width: 1000px;
    height: 400px;
    background: #642B73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#line-title-line {
    display: flex;
}
#line-title {
    
}
#line-chart-icon {
    width: 50px;
    height: 50px;
    margin-right: 6px;
    font-size: 30px;
}

#linechart {
    
}


/* ============================================================ */